@media all and (min-width: 480px) {
    .Login {
      display: flex;
      justify-content: center;
      padding: 60px 0;
      padding-bottom: 5px;
    }
  
    .Login form {
      margin: 0 auto;
      min-width: 350px;
    }
}

body{
background-color: rgb(235, 235, 235);
  background-image: url('../../assets/background.png');
}
.loginHeader{
  position: relative;
}
.loginLogo{
  height: auto;
  margin-top: 10px;
  margin-left: 10px;
  max-width: 100%;
  width: 150px;
}
.loginNav {
  position: absolute;
  top: 15px;
  right: 0;
  margin-right: 20px;
}
.loginNav a:first-child{
  padding-right: 10px;
}