*{
  margin: 0;
  padding: 0;
}
.wrapper{
  display: flex;
  justify-content: center;
}

.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.contentContainer{
  max-width: 900px;
  width: 100%;
  max-height: 1000px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

canvas{
  border-radius: 10px
}